body {
  background-color:#205050;
}

h1 {
  color: #bbffdd;
  text-align: center;
}

h2 {
  color: #205050;
  text-align: center;
}

h3 {
  color: #205050;
  text-align: center;
}

.main-container {
  width: 94%;
  margin-left:auto;margin-right:auto;
  margin-bottom:20px;
}

.box {
  width:98%;
  padding:1%;
  float:left;
  margin-left:auto;
  margin-right:1%;
  margin-bottom:1%;
  border-radius:10px;
  box-shadow: 2px 2px 15px -5px;
}

.figure-box {
  background-color:#40b080;
}

.table-box {
  background-color:#22aaff;
}

.link-box {
  background-color:#22aaff;
  font-family: monospace;
  font-size: 3em;
}

tr:nth-child(even) {
  background-color: #1888ee;
}

@media screen and (min-width: 1501px) {
  .figure-box {
    width:47%;
  }
}
